  *{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
  }
  .container{
    width:100%;
    height:100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content{
    display: flex;
  }

  .container::before{
    content: '';
    position:absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #fa7fbf;

  }

  .container .hero{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background-color: rgb(179, 225, 249);
    backdrop-filter: blur(25px);
    border: 3px solid #ff9dcf;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10,10,10,0.15);
    padding: 0 40px 0 80px;
  }

  .hero nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            width: 100%;}
   .hero nav .logo{
    color: #801f82;
    font-size: 45px;
    font-weight: bold;

   }
   .hero nav .nav-links a {
    color: #242424;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;

   }
   .hero nav .nav-links a:hover,
   .hero nav .nav-links a.active{
    color: #801f82;
   }

   .hero .content{
    display:flex;
    justify-content:space-between ;
    align-items: center;
    padding-right: 40px;

   }

.hero .content .div-text{
  width: 40%; 
  padding-right: 40px;
}

.hero .content .div-text h1{
  margin-bottom: 20px;
  font-size: 50px;
  color: #fff;
}

.hero .content .div-text h2{
  color:#801f82;
  font-size: 24px;
  margin-bottom: 10px;
}

.hero .content .div-text p{
  color :#4f4f4f;
  margin-bottom: 50px;
  font-size: 18px;
}


.sos-link{
  position: absolute;
  top:50%;
  right:10px;
  transform:translateY(-50%);
  display: flex;
  flex-direction: column;
}

.sos-link a i{
  font-size: 25px;
  cursor: pointer;
  color: #801f82;
  margin-bottom: 20px;
  transition: 0.4s;;

}
.sos-link a i:hover{
  color:#fa7fbf;
}
.hero .content .div-img {
  width:40%;
}
.hero .content .div-img img{
  width:100%;

}
.hero .logo{
  animation-delay:0.3s;
}
.hero .content .div-text h1{
animation-delay: 0.6s;
}
.hero .content .div-text h2{
animation-delay: 0.9s;
}

@keyframes slide-top{
  0%{
    top:50px;
    opacity:0%;
  }
  100%{
    top:0;
    opacity: 1;

  }
}
.hero .content .div-text h1{
  position :relative;
  left :100px;
  animation: slide_right .5s linear forwards;
  animation-delay:1.5s;
  opacity:0;
}
@keyframes slide-right{
  0%{
    left: 100px;
    opacity: 0;

  }
  100%{
    left:0;
    opacity:1;

  }
}




